.peopleContainer {
  .Card {
   @include box-styles(220px, 400px);
   margin: 10px auto 20px;
  }
}

.planetContainer {
  .Card {
   @include box-styles(400px, 400px);
   margin: 10px auto 20px;
   overflow: scroll;
  }
}

.vehiclesContainer {
  .Card {
   @include box-styles(260px, 400px);
   margin: 10px auto 20px;
   overflow: scroll;
  }
}

li {
  list-style: none;
  font-size: 24px;
  margin: 10px auto;
}

.fab {
  margin-right: 10px;
}

h3 {
  font-size: 40px;
  text-align: center;
  margin: 25px;
}

